body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #0099cc;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    background: #333;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
    }
}
body {
    background-color: #f6816756;
}